<!-- 重點:[formGroup]="contactForm"先把formGroup跟自己取的名字綁定  -->
<!-- 再把input框指定formControlName -->
<form [formGroup]="contactForm" (ngSubmit)="onSubmit()" class="example-form">
    <mat-form-field class="example-full-width">
    <div class="form-group">
      <label for="name">姓名:</label>
      <input matInput type="text" id="name" formControlName="name">
      <div *ngIf="contactForm.get('name')!.hasError('required')">請輸入姓名</div>
    </div>
</mat-form-field>
<mat-form-field class="example-full-width">
    <div class="form-group">
      <label for="email">信箱 :</label>
      <input matInput type="text" id="email" formControlName="email">
      <div *ngIf="contactForm.get('email')!.hasError('email')">請輸入有效的email</div>
    </div>
</mat-form-field>
    <mat-form-field class="example-full-width">
    <div class="form-group">
      <label for="pwd">密碼:</label>
      <input matInput type="text" id="pwd" formControlName="pwd">
      <div *ngIf="contactForm.get('pwd')!.hasError('maxlength')">密碼長度不能超過20個字</div>
      <div *ngIf="contactForm.get('pwd')!.hasError('minlength')">密碼長度不能低於5個字</div>
      <div *ngIf="contactForm.get('pwd')!.hasError('required')">請輸入密碼</div>
    </div>
</mat-form-field>
    <button mat-raised-button color="warn" type="submit" [disabled]="!contactForm.valid">註冊</button>
</form>
  